.ui.search>.results .result .image{
  overflow: hidden;
  background: 0 0;
  width: 4em;
  height: 4em;
  border-radius: .25em;
  margin-right: 10px;
}
.ui.search>.results{
  width: 25em;
}
.ui.search>.results .result{
  display: flex;
  justify-content: flex-start;
}
.ui.search>.results .result .name{
  font-size: 1.5em;
  float: none;
}
