#root{
  padding: 10px;
}
/* styles for Avatars (left side) */
.ui.mini.image{
  width: 65px;
}

/* styles for search results */
.ui.search>.results .result .image{
  overflow: hidden;
  background: 0 0;
  width: 4em;
  height: 4em;
  border-radius: .25em;
  margin-right: 10px;
}
.ui.search>.results{
  width: 25em;
}
.ui.search>.results .result{
  display: flex;
  justify-content: flex-start;
}
.ui.search>.results .result .name{
  font-size: 1.5em;
  float: none;
}

/* styles Clients info (right side) */
.item{
  display: flex;
}
.item .image img{
  width: 17em;
  height: 17em;
  border-radius: .25em;
  margin-right: 10px;
}
.item .header{
  font-size: 3em;
}

.ui > .item:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+2,000000+2,000000+5,000000+5,000000+23&0+5,0+5,0.65+100 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.05) 23%, rgba(0,0,0,0.15) 42%, rgba(0,0,0,0.22) 59%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 101%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.05) 23%,rgba(0,0,0,0.15) 42%,rgba(0,0,0,0.22) 59%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 101%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.05) 23%,rgba(0,0,0,0.15) 42%,rgba(0,0,0,0.22) 59%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  cursor: pointer;
}
.item span{
  margin-right: 10px;
  font-weight: bold;
  color: #ccc;
}

/* styles for Client Info */

.Info .invitation{
  height: -webkit-fill-available;
  text-align: center;
  font-size: 2em;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}